<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Okzygen Blog</title>
</head>

<body>
    <main>
        
    <div class="header">
        <h1>Okzygen "Blog"</h1>
        <h2>Let's Be Honest - It's a Commenting System</h2>
    </div>

    <div class="nav-buttons">
        <a href="/"><button>Home</button></a>
        <a href="/account"><button>Account</button></a>
        <a href="/posts"><button>Posts</button></a>
        <a href="/login"><button>Log In</button></a>
    </div>
