<%- include("partials/header.ejs") %>

    <div class="main-body">
        <div class="section-title">
            <h1>Welcome to Okzygen</h1>
        </div>
    </div>
    <!-- For-loop to display blog posts dynamically -->

    <div class="blog-posts">
        <div class="section-title">
            <h2>Recent Posts</h2>
        </div>

        <!-- If-else statement determines if there are any posts to display. If not, a message is displayed instead -->

        <ul>
            <%- include("partials/post-roll.ejs", {
                posts: posts,
                timestamps: timestamps,
                texts: texts,
                limit: 5,        // or any number you want
                reverse: true    // or false for oldest first
            }) %>
        </ul>
        
    </div>

<%- include("partials/footer.ejs") %>