<!-- By modularizing the page, we separate the posts archive from the post form. -->
<!-- Eventually we will replace the delete button with "read more..." and move delete function to post-form page. -->

<%- include('partials/header') %>

<%- include("partials/post-form.ejs") %>

    <!-- For-loop to display blog posts dynamically -->
    <div class="blog-posts">
        <div class="section-title">
            <h1>All Posts</h1>
        </div>


        <!-- If-else statement determines if there are any posts to display. If not, a message is displayed instead -->

        <ul>
            <%- include("partials/post-roll.ejs", {
                posts: posts,
                timestamps: timestamps,
                texts: texts,
                limit: 5,        // or any number you want
                reverse: true    // or false for oldest first
            }) %>
        </ul>
        
    </div>

<%- include('partials/footer') %>