* {
    font-family: monospace;
    box-sizing: border-box;
}

.header, .footer {
    background-color: #660000; /* Red */
    color: white;
    padding: 15px;
    text-align: center;
    text-shadow: 10px;
    max-width: 600px;
    margin: auto;
}

.section-title {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.nav-buttons {
    display: flex;
    justify-content: left;
    border: #000000 solid 5px; /* Black border */
    max-width: 600px;
    margin: auto;
    gap: 10px;
    padding: 10px;
}

.blog-form, .account-form, .main-body {
    background-color: #f0f0f0; /* Light gray */
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.blog-form textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical; /* optional: allows vertical resizing only */
}

.blog-posts{
    background-color: #f0f0f0; /* Light gray */
    border: #000000 solid 5px; /* Black border */
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.post-preview {
    background-color: #f0f0f0; /* Light gray */
    border: #000000 solid 5px; /* Black border */
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.post-controls {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin: 10px 0;
}